**/bin/
**/obj/
*.dll
*.exe
*.pdb
*.cache
*.log
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.idea/
*.sln.iml
.result/
*.bak
*~
.DS_Store
Thumbs.db
**/ref/
**/refint/
*.runtimeconfig.json
*.deps.json
.envrc
.~lock.*#